/*body  {
    background: #fff; 
}


h1, 
h2, 
h3, 
h4, 
h5,
p,
ul,
li {
	color: #172631;
}

a:link {
	color: #172631;
}

a:visited {
	color: #172631;
}

a:hover {
	color: #172631;
}

a:active {
	color: #172631;
}

p.callout {
	background: #fff;
	color: #172631;
}*/