@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface:400);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic);

$font-serif-bold: "Playfair Display", serif; 
$font-serif-extrabold: "Abril Fatface", serif; 
$font-serif-regular: "Playfair Display", serif;
$font-serif-emphasis: "Playfair Display", serif;
$font-sans-bold: "Quattrocento Sans", sans-serif;
$font-sans-regular: "Quattrocento Sans", sans-serif;
$font-sans-emphasis: "Quattrocento Sans", sans-serif;
$font-sans-condensed: "Oswald", sans-serif;

body {
	color: $knockout;
}

h1 {
	line-height: 100%; 
	font-family: $font-serif-bold;
	font-weight:900; 
	font-style:normal;	
	letter-spacing: -0.025em;
	color: $brand-blue;
}

h2, h3, h4, h5 {
	line-height: 1.5em; 
	font-family: $font-sans-condensed;
	text-transform: uppercase;
	font-weight:400; 
	font-style:normal;	
	letter-spacing: 2px;
	color: $brand-blue;
}

h1.alpha { font-size: 5em; margin-bottom: 0;}
h1 {font-size: 3em}
h2 {font-size: 1.4em}
h3 {font-size: 1.2em}
h4 {font-size: 1em}
h5 {font-size: 0.85em; text-transform: uppercase;}

@media all and (min-width: 40em) {
	h1.alpha { font-size: 9em; margin-bottom: 0;}
	h1 {font-size: 6em}
	h2 {font-size: 1.4em}
	h3 {font-size: 1.2em}
	h4 {font-size: 1em}
	h5 {font-size: 0.85em; text-transform: uppercase;}
}


p, li {
	font-family: $font-sans-regular;
	font-weight: 400;
	@include font-size(9);
	@include line-height(11);
}

.lede {
	font-family: $font-sans-condensed;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.7em;
	margin: 0;
	padding: 0;
}	

.condensed {
	font-family: $font-sans-condensed;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.smaller {
	font-size: 0.65em;
}


.explanation {
	text-transform: uppercase;
	font-size: 0.7em;
	color: $dark-grey;
}

@media all and (min-width: 40em) {
	p, li {
		font-family: $font-sans-regular;
		font-weight: 400;
		@include font-size(10);
		@include line-height(12);
	}

	.blog .post p:first-of-type {
		font-size: 1.6em;
		line-height: 1.4;
	}	
}


p {
	margin-bottom: 5%;
}

p b, 
p strong {
	font-family: $font-sans-bold;
	font-weight: 700;
}

p em,
p i {
	font-family: $font-sans-regular;
	font-style: italic;
}

figcaption {
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 2px;
	opacity: 0.5;
	text-align: right;
	color: rgba(255,255,255,0.8);
}

blockquote  {
	padding: 5% 0 2% 0;
	margin: 4%;
	position: relative;
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);	
}

blockquote p {
	line-height: 1.5;
	color: $black;
	font-family: $font-serif-bold;	
	font-weight: 700;
}

blockquote p cite {
	line-height: 1.5;
	padding-top: 5%;
	font-size: 80%;
	display: block;
}

// body {
// 	-moz-font-feature-settings:"liga" 1, "dlig" 1, "hlig" 1, "clig" 1; 
// 	-moz-font-feature-settings:"liga=1, dlig=1, hlig=1, clig=1"; 
// 	-ms-font-feature-settings:"liga" 1, "dlig" 1, "hlig" 1, "clig" 1; 
// 	-o-font-feature-settings:"liga" 1, "dlig" 1, "hlig" 1, "clig" 1; 
// 	-webkit-font-feature-settings:"liga" 1, "dlig" 1, "hlig" 1, "clig" 1; 
// 	font-feature-settings:"liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
// }


a:link {
	text-decoration: none;
	padding: 0 2px;
	transition: background 0.2s ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;	
}

article a {
	text-decoration: none;
	padding: 0 2px;
	color: #000;
	transition: background 0.2s ease;
	// border-bottom: 1px solid #c41c58;
}

article a {
	text-decoration: none;
	position: relative;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #c41c58 2px, #c41c58 3px, rgba(0, 0, 0, 0) 3px);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	article a {
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #c41c58 2px, #c41c58 2.5px, rgba(0, 0, 0, 0) 2.5px);
	}
}

article a:hover, article a:focus {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #0F182F 2px, #0F182F 3px, rgba(0, 0, 0, 0) 3px);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	article a:hover, article a:focus {
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #0F182F 2px, #0F182F 2.5px, rgba(0, 0, 0, 0) 2.5px);
	}
}

a:visited {
	color: #000;	
}

a:hover {
	// background: #FFF8D2;
	color: $brand-fuchsia;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;	
}

p.thoughts {
	color: #111;
}


.submenu ul {
	border-top: 1px solid #ddd;
	margin-top: 5%;
	padding-top: 5%;
	padding-left: 0px;
}

.submenu ul li {
	font-size: 1.8em;
	padding: 0;
	margin: 2% 0 3% 0;
	font-family: $font-sans-regular;
}

.submenu ul li a {
	text-decoration: none;
}

.submenu time {
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ccc;
	font-size: 14px;
	line-height: 1;
}

ul.work {
	margin-left: 0;
	padding-left: 0;
}

ul.work li {
	list-style: none;
}

ul.categories {
	margin-left: 0;
	padding-left: 0;
	width: 25%;
}

ul.categories li {
	list-style: none;
}

pre {
	background: #efefef;
	padding: 3% 4%;
	border: 1px solid #ddd;
	overflow: hidden;
}

code {
	font-size: 0.8em;
}

dl {
	font-family: $font-sans-bold;
}

small {
	font-family: $font-sans-bold;
}