.bikeregister {
	background: url('/assets/img/bgs/bikeregister.jpg') repeat 0 0;
	background-size: cover;		
}

.code-for-america {
	background: url('/assets/img/bgs/cfa.jpg') repeat 0 0;
	background-size: cover;		
}

.nbc-puma {
	background: url('/assets/img/bgs/puma.jpg') repeat 0 0;
	background-size: cover;		
}

.the-pie {
	background: url('/assets/img/bgs/pie.jpg') repeat 0 0;
	background-size: cover;	
}

.fine-and-rare {
	background: url('/assets/img/bgs/frw.jpg') repeat 0 0;
	background-size: cover;		
}

.intro.fine-and-rare {
	background: url('/assets/img/bgs/frw-light.jpg') repeat 0 0;
	background-size: cover;		
}

.the-holiday-place {
	background: url('/assets/img/bgs/thp.jpg') repeat 0 0;
	background-size: cover;		
}

.picturebox {
	background: url('/assets/img/bgs/pbox-light.jpg') repeat 0 0;
	background-size: cover;		
}

.living-english {
	background: url('/assets/img/bgs/le.jpg') repeat 0 0;
	background-size: cover;		
}

.virgin-galactic {
	background: url('/assets/img/bgs/virgin.jpg') repeat 0 0;
	background-size: cover;		
}

.kensington-academy {
	background: url('/assets/img/bgs/kae.jpg') repeat 0 0;
	background-size: cover;		
}

.intro.kensington-academy {
	background: url('/assets/img/bgs/kae-light.jpg') repeat 0 0;
	background-size: cover;		
}

.excel-english {
	background: url('/assets/img/bgs/excel.jpg') repeat 0 0;
	background-size: cover;		
}

.email-design {
	background: url('/assets/img/bgs/bg.png') repeat 0 0;
	background-size: contain;
}

.side-projects {
	background: url('/assets/img/bgs/side-projects.jpg') no-repeat 0 0;
	background-size: cover;		
}