/* Buttons */

.uppercase {
	text-transform: uppercase;
}

a.back {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	color: #aaa;
	font-family: $font-sans-regular;
}

.intro a.cta {
	padding: 0;
	margin: 0;
	display: inline;
	text-decoration: none;
	-webkit-transition: background 0.5s ease;
	transition: background 0.5s ease;
}

.intro a.cta img {
	width: 0.5em;
	height: 0.5em;
}

.intro a.cta:active {
	position: relative;
	top: 1px;
}

a.text-btn {
	background: $light;
	top: $space;
	padding: $space-half $space;
	border-radius: 5px;
	text-shadow: none;
	border: none;
	background-image: none;	
}

a.text-btn:hover {
	background: $brand-fuchsia;
	color: $white;
}


a.clearleft {
	color: #9DC640;
}
