.footer-blog {
	border-top: 1px solid #ccc;	
	background: $canvas-light;
	position: relative;	
	overflow: hidden;
	padding: 5%;
}

small.footer {
	text-align: right;
	display: block;
	padding: $space;
	text-transform: uppercase;
	letter-spacing: 1px;	
}

small.footer.blog {
	color: $dark-grey;
	text-align: right;
	display: block;
}

footer {
	background: $brand-blue;
}

footer p:first-of-type {
	text-align: right;
	font-size: inherit;
}

footer p:first-of-type a {
	text-decoration: none;
	color: #111;
}

@media all and (min-width: 50em) {
	.footer-blog {
		padding: 5% 13%;
	}
}	