/* ==========================================================================
   Gallery
   ========================================================================== */

ul.gallery {
	overflow: hidden;
	margin: 0 0 2em 0;
	padding: 0;
	width: 100%;
}

ul.gallery li {
	line-height: 0;
	margin: 0;
	padding: 0;
	width: 49.9%;
	float: left;
	list-style-type: none;
}

ul.gallery li img {
	width: auto;
	height: auto;
}

.side-gallery {
	background: $light;
	width: 100%;
	max-height: 40em;		
	overflow: scroll;
}

.side-gallery ul {
	width: 80%;
	overflow-y: scroll;
	padding: 0;
	margin: 0;		
}

.side-gallery ul li {
	float: left;
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}


@media all and (min-width: 40em) {
	ul.gallery {
		overflow: hidden;
		padding: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 5%;
	}

	ul.gallery li {
		line-height: 0;
		margin: 0 0 $space-double 0;
		padding: 0;
		width: 49%;
		float: none;
		display: inline-block;
		list-style-type: none;
		position: relative;
	}

	ul.gallery li img {
		width: auto;
		height: auto;
		position: relative;
		top: 0;
	}

	.side-gallery {
		background: $light;
		width: 100%;
		max-height: 40em;		
		overflow: scroll;
	}

	.side-gallery ul {
		width: 100%;
		overflow-y: scroll;
		padding: 0;
		margin: 0;		
	}

	.side-gallery ul li {
		float: left;
		list-style-type: none;
		width: 100%;
		padding: 0;
		margin: 0;
	}	
}	