	.infoz {
		clear: both;
		overflow: auto;
	}

	.tidbit {
		margin-left: 0em;
		width: 79%;
		float: left;
		text-align: left;
		padding: 0.3em 1em;
		border-bottom: 1px solid rgba(55,55,55,0.08);
		font-family: $font-serif-bold;		
		font-weight: 900;
		font-size: 2em;
		color: $brand-blue;
	}

	.abril {
		font-family: $font-serif-extrabold;
		font-weight: 400;
		font-style: normal;
	}	

	.tidbit span {
		font-family: $font-sans-condensed;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $brand-blue;
		font-size: 15px;
		display: block;
		font-style: normal;
		font-weight: normal;
	}	

	.about {
		padding: 4% 8%;
		margin-top: 0.6em;
	}	


@media all and (min-width: 25em) {

	.tidbit {
		width: 34%;
		font-size: 2em;		
	}

	h2.about {
		padding: 2% 9%;
		margin-top: 0.6em;
	}	

}


@media all and (min-width: 45em) {

	.tidbit {		
		width: 29.5%;
		font-size: 8em;	
		font-size: 8vw;	
	}

	h2.about {
		padding: 4% 13%;
		margin-top: 18%;
	}

}

@media all and (min-width: 55em) {

	.infoz {
		margin-top: 4%;
	}
	.tidbit {		
		width: 80%;
		font-size: 8em;	
		font-size: 8vw;	
	}

}