.row {
    text-align: left;
    margin: 0 auto;
    overflow: hidden;
    padding: 3% 7%;
    margin-top: 0em;    
}

.row--full {
    margin: 0 auto;
    padding: 3% 7%;
    overflow: auto;
}

.row ul {
    text-align: left;
}

.row.lede {
    line-height: 1.4;
    color: $knockout; 
    padding: 0;        
}

.row figure,
.row--full figure {
    padding: 1em 4%;
}

@media all and (min-width: 25em) {
  
    .row.lede {
        line-height: 1.4;
        color: $knockout; 
        padding: 0 0 4.5% 0;    
    }

}

@media all and (min-width: 40em) {
    .row {
        padding: 0 15%;
        margin: 0 auto;
    }

    .row--full {
        padding: 3% 15%;
    }
}

@media all and (min-width: 60em) {
    .row {
        padding: 0 20%;
        margin: 0 auto;
    }

    .row--full {
        padding: 3% 20%;
    }
}


// @media all and (min-width: 80em) {
//     .row {
//         padding: 0 24.4%;
//         margin: 0 auto;
//     }

//     .row--full {
//         padding: 3% 24.4%;
//     }
// }


/* ----------------- Columns ----------------- */
@media all and (min-width: 55em) {
    .row {
        clear: both;
        overflow: hidden;
    }
    .half {
        width: 48%;
        margin-right: 2%;
        float: left;
    }

    .split {
        width: 50%;
        margin-right: 0;
        float: left;
    }

    .third {
        width: 30%;
        margin-right: 3%;
        float: left;
    }

    .two-thirds {
        width: 64.5%;
        margin-right: 4%;
        float: left;
    }
    .quarter {
        width: 23%;
        margin-right: 2%;
        float: left;
    }
    .last {
        margin-right: 0;
    }
}