/*! responsive-nav.js 1.0.34 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  text-align: right;
  border-bottom: 1px solid #EB2068;    
}

.nav-collapse li {
  display: block;
  padding: 2% 2%;
  text-align: center;
}

.nav-collapse li a {
  display: block
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  width: 100%;
}

.nav-collapse.opened {
  max-height: 9999px;
  background: $brand-blue;
}

.nav-toggle {
  font-family: $font-sans-condensed;
  text-transform: uppercase;  
  letter-spacing: 1px;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  margin-top: 0.8em;
  margin-right: 0.75em;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
}

.nav-toggle:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(/assets/img/menu-icon.svg) 0 0 no-repeat;
  float: left;
  margin: 0 5px 0 0;
  opacity: 0.5;
}

.nav-toggle.active {
  text-decoration: line-through;
}

@media screen and (min-width: 25em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  .nav-collapse ul {
    border-bottom: none;   
  }

  .nav-collapse ul {
    border-bottom: 0px solid #ccc;    
  }
}

