.post {
	padding: 0% 8% 8% 8%;
	margin-bottom: 4%;
}

.post-intro h1 {
	padding: 1% 8% 4% 8%;
 -ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;	
}

h1.post-title {
	// margin: 0;
}

@media all and (min-width: 50em) {
	.post {
		padding: 0;
	}
}

@media all and (min-width: 85em) {

	.post-intro .inner {
		max-width: 48em;
	}
}	