.project-meta {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0 0 $space-double 0;
	min-height: auto;
}

.project-meta ul {
	padding: 0;
}

.project-meta ul li {
	list-style-type: none;
	font-family: $font-sans-condensed;
	font-weight: 400;
	color: $knockout;
}

.project-meta ul li b {
	color: $dark-grey;
	font-weight: 400;
}

@media all and (min-width: 60em) {
	.project-meta {
		width: 39.33%;
		border: none;
		border-left: 4px solid $brand-blue;
		float: right;
		margin: 10% $space 10% $space-triple;
		padding: $space;
		min-height: 100px;
	}

	.project-meta ul {
		margin: $space;
		padding: $space;
	}

	.project-meta ul li {
		list-style-type: none;
	}
}