ul.teaser.projects-list li {
	border-bottom: 1px solid $knockout;
}

.projects {
	padding: 5%;
	background: $brand-blue;
}

.projects h1 a {
	color: $white;
}

.projects h1 a:hover {
	color: $brand-fuchsia;
}

@media all and (min-width: 40em) {
	.projects {
		padding: 2% 5%;
	}
}