.projects article {
	position: relative;
	background: #fff;
}

.projects figure.hero img {
	margin-top: -3em;
}

.projects .intro {
	padding: 30% 10% 60% 10%;
}

.projects .intro:after {	
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(15,24,47,0.6);  
    transition: background 1.0s ease;
}	

@media all and (min-width: 40em) {
	.projects .intro {
		padding: 10% 10% 40% 10%;
	}	
	.projects .intro h1 {
		font-size: 6em;
	}	
	.projects {	
		max-width: 100%;
		margin-left: 0rem;	
		padding: 0;		
	}	
}

@media all and (min-width: 50em) {
	.projects {
		margin-top: -5em;
	}
	.projects {	
		max-width: 100%;
		font-size: 100%;
		margin-left: 7rem;	
		padding: 0;	
		padding-bottom: 0%;	
	}		
}	

@media all and (min-width: 60em) {
	.projects .intro {
		padding: 15%;
	}

	.projects .intro {
		height: 100%;
		overflow: hidden;
		// position: fixed;
		// top: 0;
		// width: 90%;
		z-index: -1;
	}

	.projects .intro h1,
	.projects .intro p,	 {
		// margin-left: -12%;
	}

	.projects .intro h1 {
		margin-top: 1%;
	}

	.projects article {
		background: #FFF;
		margin-top: 2em;
	}

	.projects figure.hero img {
		margin-top: -5em;
	}
}	