.projects article {
	position: relative;
	background: #fff;
}

.projects figure.hero img {
	margin-top: -3em;
}

.projects .intro {
	padding: 30% 10% 60% 10%;
}

@media all and (min-width: 40em) {
	.projects .intro {
		padding: 10% 10% 40% 10%;
	}	
	.projects .intro h1 {
		font-size: 6em;
	}	
}

@media all and (min-width: 50em) {
	.projects {
		margin-top: -5em;
	}
	.projects {	
		max-width: 100%;
		font-size: 100%;
		padding: 0;	
		padding-bottom: 0%;	
	}		
}	