.row {
	text-align: left;
	margin: 0 auto;
}

.row--full {
	text-align: center;
	margin: 0 auto;
}

.row h2,
.row h3,
.row h4,
.row h5,
.row ol,
.row p,
.row ul {
	padding: 0 7%;
	margin-top: 0em;
}

.row ul {
	text-align: left;
}

.row.lede {
	line-height: 1.4;
	color: $color-dark;	
	padding: 0;        
}

@media all and (min-width: 25em) {
  
	.row.lede {
		line-height: 1.4;
		color: $color-dark;	
		padding: 0 0 4.5% 0;    
	}

}

@media all and (min-width: 40em) {
	.row {
		padding: 0 25%;
		margin: 0 auto;
	}

	.row--full {
		padding: 3% 25%;
	}

	.row--full img {
	}
}

// .row.lede {
//   -webkit-column-count: 2;
//      -moz-column-count: 2;
//           column-count: 2;
//   -webkit-column-width: 25em;
//      -moz-column-width: 25em;
//           column-width: 25em;	
//   -webkit-column-gap: 1em;
//      -moz-column-gap: 1em;
//           column-gap: 1em;  	
// }