.segue {
	width: 100%;
	background: $brand-blue;
	color: $white;
	padding: 10% 0;
	text-align: center;
}

.segue a {
	padding: $space 5em $space-and-half 5em;
	font-size: 1em;
	color: $white !important;
	text-transform: uppercase;
	font-family: $font-sans-condensed;
	font-size-adjust:0.488; 
	border: none;
	text-shadow: none;
	border: none;
	background-image: none;
}

.segue a:hover {
	color: $brand-fuchsia;
}

@media all and (min-width: 40em) {
	.segue {
		padding: 4% 0;
	}	
}	