.segue {
	width: 100%;
	background: $brand-fuchsia;
	color: $white;
	padding: 5% 0;
	text-align: center;
}

.segue a {
	text-transform: uppercase;
	font-family: $font-sans-condensed;
	font-weight: normal;
	font-size-adjust:0.488;
}

.segue button {
	font-size: 0.8em;
}

.segue a:hover {
	background-image: none;
}

@media all and (min-width: 40em) {
	.segue {
		margin-top: $space-double;
		padding: 2% 0;
	}	
}	