.social {
	margin: 0 auto;
	text-align: center;
}

.social-linkage {
	text-align: center;
	width: 91%;
	padding: $space;
}

.social-linkage ul {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: block;
	text-align: center;
}

.social-linkage ul li {
	width: 100%;
	list-style-type: none;
	display: inline-block;
	margin: 0.5em 0.5em 0.5em 0em;	
}

.social-linkage ul li.title {
	padding-top: 2%;
	color: $light-grey;
	font-family: $font-sans-condensed;	
	text-transform: uppercase;
	font-size: 0.8em;
}


.social-linkage ul li a {
	padding: $space-half $space;
	display: block;
	font-family: $font-sans-condensed;	
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 1px;
	@include border-radius(5px);
	text-align: center;
	text-shadow: none;
	border: none;
	background-image: none;	
}

@media all and (min-width: 50em) {
	.social-linkage ul {
		width: 130%;
	}
	
	.social-linkage ul li {
		width: 33%;	
	}	
}	

@media all and (min-width: 70em) {
	.social-linkage ul {
		width: 135%;
	}
	
	.social-linkage ul li {
		width: auto;	
	}	
}	

.social-linkage ul li a.flickr {
	border: 2px solid #0063dc;
	color: #0063dc;
}
.social-linkage ul li a.flickr:hover {
	background: #0063dc;
	color: #fff;	
}
.social-linkage ul li a.dribbble {
	border: 2px solid #ea4c89;
	color: #ea4c89;	
}
.social-linkage ul li a.dribbble:hover {
	background: #ea4c89;
	color: #fff;	
}
.social-linkage ul li a.strava {
	border: 2px solid #fc4c02;
	color: #fc4c02;	
}
.social-linkage ul li a.strava:hover {
	background: #fc4c02;
	color: #fff;	
}
.social-linkage ul li a.twitter {
	border: 2px solid #55acee;
	color: #55acee;	
}
.social-linkage ul li a.twitter:hover {
	background: #55acee;
	color: #fff;	
}
.social-linkage ul li a.instagram {
	border: 2px solid #125688;
	color: #125688;	
}
.social-linkage ul li a.instagram:hover {
	background: #125688;
	color: #fff;	
}
.social-linkage ul li a.email {
	border: 2px solid #fff;
	color: #fff;
}
.social-linkage ul li a.email:hover {
	background: #fff;
	color: #000;	
}
.social-linkage ul li a.delicious {
	border: 2px solid #3399ff;
	color: #3399ff;	
}
.social-linkage ul li a.delicious:hover {
	background: #3399ff;
	color: #fff;	
}
.social-linkage ul li a.linkedin {
	border: 2px solid #0976b4;
	color: #0976b4;	
}
.social-linkage ul li a.linkedin:hover {
	background: #0976b4;
	color: #fff;	
}