ul.teaser  {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-attachment: fixed;	
}

ul.teaser li {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	float: none;
}

ul.teaser li .title {
	position: absolute;
	width: 100%;
	display: block;
	text-align: center;
}

ul.teaser .categories li {
	padding: 1% 0;
	border-bottom: 0;
	font-size: 0.65em;
	color: $dark-grey;	
}

@media all and (min-width: 30em) {

	ul.teaser {
			
		background-attachment: fixed;		
	}

	ul.teaser li {
		float: none;		
	}

}

// @media all and (min-width: 70em) {
// 	ul.teaser li:nth-child(2) {
// 		margin-top: 90vh;
// 	}

// }